<!DOCTYPE html>

<html lang="en">
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/stylesheet.css') }} ">
    </head>
    <body>
        <header>
            <nav>

            </nav>
        </header>
        <main>
            <div>
                {% block page_content %}
                {% endblock %}
            </div>
        </main>
        <footer>

        </footer>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/app.js') }}"> </script>
    </body>
</html>